langchain
pypdf
nltk
sentence-transformers
keybert
PyMuPDF
pillow
pytesseract
google-generativeai
huggingface-hub
qdrant-client
langchain-qdrant
langchain-huggingface
langchain-ollama
fastapi
pydantic
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-qdrant
qdrant-client
torch
sentence-transformers