langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-qdrant
langchain-google-genai
qdrant-client
sentence-transformers
huggingface-hub
torch
transformers
pypdf
PyMuPDF
pymupdf4llm
python-docx
openpyxl
python-pptx
markitdown
pillow
pytesseract
nltk
keybert
fastapi
uvicorn
pydantic
python-multipart
streamlit
streamlit-lottie
google-generativeai
requests
python-dotenvd
markitdown[all]
fastembed-gpu